.movie-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.input-movie-item-group {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.movie-item-input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 16px;
  border: 1px solid rgb(72, 107, 172);
  font-size: 18px;
}

.movie-item-input:focus {
  outline: none;
  border: 1px solid rgb(72, 107, 172);
}

.delete-movie {
  background: rgb(255, 255, 255);
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: relative;
  border: 1px solid rgb(255, 91, 113);
}

.delete-movie::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../../../assets/icons/trash.png') center no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}
