.movies-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  background: rgb(84, 73, 187);
  padding: 30px;
  border-radius: 26px;
}
