*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background: rgb(153, 126, 189);
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.router-button {
  width: 300px;
  text-transform: uppercase;
  border-radius: 32px;
  margin-top: calc(20% - 50px);
}
